.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

# ignore files created by application
test/dummy/app/views/remote_partials/
test/dummy/db/remote_partial/
test/dummy/test/db/

# rvm configuration file
.rvmrc
.ruby-*

# ignore gem files
*.gem

# ignore Gemfile.lock as this is an engine
Gemfile.lock
