<!DOCTYPE html>
<html><body>
<p>&gt;
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->  <!--<![endif]-->
</p>
	<!-- Title -->
	<title>Warwickshire Direct - Residents</title>
<!-- Description --><meta name="description" content="">
<!-- Charset --><meta charset="UTF-8">
<!-- Use the latest builds of browsers --><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- Mobile device rendering --><meta name="viewport" content="width=device-width">
<!-- Twitter --><meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@wcc_news">
<meta name="twitter:url" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">
<!-- Facebook --><link rel="image_src" href="">
<!-- OpenGraph --><meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Warwickshire Direct - Residents">
<meta property="og:image" content="">
<!-- Microdata --><meta itemprop="name" content="">
<meta itemprop="description" content="">
<meta itemprop="url" content="">
<!-- Keywords --><meta name="keywords" content="">
<!-- Icons --><link rel="shortcut icon" href="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/favicon.ico">
<link rel="icon" type="image/png" href="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/favicon.png">
<link rel="apple-touch-icon" href="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/apple-touch-icon.png">
<!-- Analytics --><script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-9510501-3']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
	</script><!-- Semantic markup declarations --><link rel="profile" href="http://gmpg.org/xfn/11">
<!-- Style --><link rel="stylesheet" type="text/css" href="http://www.warwickshire.gov.uk/wp-content/themes/gamma/style.css">
<style>body {padding-top: 43px;padding-bottom: 40px;}</style>
<link rel="stylesheet" type="text/css" href="http://www.warwickshire.gov.uk/wp-content/themes/gamma/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="http://www.warwickshire.gov.uk/wp-content/themes/gamma/main.css">
<!-- Scripts --><script src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/js/modernizr-2.6.2-respond-1.1.0.min.js" type="text/javascript"></script><script src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/js/jquery-1.9.0.min.js" type="text/javascript"></script><script src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/js/bootstrap.min.js" type="text/javascript"></script><script src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/js/main.js" type="text/javascript"></script><script src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/js/jquery.cycle.js" type="text/javascript"></script><script src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/js/jquery.zrssfeed.o.js" type="text/javascript"></script><script src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/js/homepage-slider-test.js" type="text/javascript"></script><!-- Analytics - Event Tracking --><script type="text/javascript">
		jQuery(document).ready(function(){
			// Each time a link is clicked, this function gets called
			jQuery('#secondary a').click(function(){
				// get the url from the link's href
				var url = this.href;
				// set the category of event
				var category = '';
				// set the event action
				if (jQuery(this).is('.download')) { var action = 'Downloads and documents'; }
				else if (jQuery(this).is('.useful-link')) { var action = 'Useful links'; }
				else if (jQuery(this).is('.ymabii')) { var action = 'You may also be interested in'; }
				else if (jQuery(this).is('.top-task')) { var action = 'Top tasks'; }
				else if (jQuery(this).is('.do-it-online')) { var action = 'Do it online'; }
				else {var action = 'Other actions'; }
				// get the text of the link itself
				var label = jQuery(this).text().trim();
				// track the click itself
				
				// window.alert('<p>URL: ' + url + ' CATEGORY:' + category + ' ACTION:' + action + ' LABEL:' + label + '</p>');
				
				_gaq.push(['_trackEvent', category, action, label]);
				
				});
		});
	</script><!--[if lt IE 7]>
		<div class="alert alert-error"><strong>You are using an outdated browser</strong>. You may want to <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
    <![endif]--><div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="//www.warwickshire.gov.uk/"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/corpwhitelogo.png" alt="Warwickshire Direct" style="width:60px;"></a>
                    <div class="nav-collapse collapse">
						<nav><ul class="nav">
<li><a href="http://news.warwickshire.gov.uk/">News</a></li>
							<li><a href="/events">Events</a></li>
							<li><a href="/jobs">Jobs</a></li>
							<li class=" active"><a href="http://www.warwickshire.gov.uk/">Warwickshire Direct</a></li>
							<li class=""><a href="/corporate">About the Council</a></li>
							
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                                <ul class="dropdown-menu">
<li><a href="/consultations">Consultations</a></li>
                                    <li><a href="/democracy">Democracy</a></li>
                                    <li class="divider">
                                    <li class="nav-header">Other sites</li>
                                    <li><a href="/spp">Staff, Partners and Practitioners</a></li>
                                </ul>
</li>
                        </ul></nav>
</div>
<!--/.nav-collapse -->
						<div class="nav-collapse collapse pull-right span2" id="right-topbar">
							<ul class="nav">
<li class="dropdown">
								<a href="/myaccount" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
									<ul class="dropdown-menu">
<li>
									<a href="/me@wcc">Me@WCC</a>
									<p class="nav-header" style="font-weight:normal;text-transform:none !important;">Setup school closure alerts, manage event submissions, submit licence applications, or access Atlas</p>
									</li>
									<li>
									<a href="/librarylogin">Library account</a>
									<p class="nav-header" style="font-weight:normal;text-transform:none !important;">Renew and reserve paper books or borrow eBooks</p>
									</li>
									<li>
									<a href="/jobslogin">Jobs</a>
									<p class="nav-header" style="font-weight:normal;text-transform:none !important;">Apply for roles or setup alerts</p>
									</li>
									<li>
									<a href="/myaccount">Other accounts</a>
									</li>
                                </ul>
</li>
							</ul>
</div>
                </div>
            </div>
        </div>
		
		<div id="rss-me"></div>
		
		// relsub_single_rss('#rss-me', 'http://feeds.feedburner.com/alerts-approvedpremisenotice', 5, true, true);
		?&gt;
		
		<!-- No active alerts --><div id="cookie-container" style="display:none;"><div id="cookie-tip" class="alert alert-info">We use cookies to improve your visit to this site. Details of the cookies we use, and how to block them, can be found on our cookies page. <a href="/cookies">Find out more about our cookies.</a><button id="cookie-ok" class="ButtonDynamic btn btn-info btn-mini">OK</button>
</div></div>		
			<div class="row style-1-gradient" id="top-header">
				<div class="container">
					<div class="span12" style="height:100px;">
						<div class="row">
							<div id="logo-wrap" class="span3" style="padding-top:15px;padding-bottom:15px;">
							<a href="http://www.warwickshire.gov.uk/"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/wdwhitelogo.png" alt="Warwickshire County Council - home" title="Warwickshire County Council - home"></a>							</div>
							<div class="span9">
								<div class="row">
									<div class="span9">
										<form action="http://search3.openobjects.com/kb5/warwickshire/search/results.page" method="get" name="kbs" class="navbar-form pull-right" id="site-search">
											<label for="qtbottom" class="skip" style="display:none;">Search again</label>
											<input class="span3" type="text" maxlength="1000" size="40" name="qt" id="qtbottom" alt="Search" placeholder="Search" accesskey="4"><button type="submit" value="Search" id="kbsubmitbottom" class="btn btn-mini">Go</button>
										</form>
									</div>
								</div>
								<div class="row">
									<div id="site-tabs" class="span9">
										<ul class="nav nav-tabs">
<li class="tab active"><a href="/home">Residents</a></li>
											<li class="tab"><a href="/business">Businesses</a></li>
											<li class="tab"><a href="/corporate">About the council</a></li>
										</ul>
</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/js/cookie-message.js" type="text/javascript"></script><div class="container" style="margin-top:20px;">
			
			

<div id="feature" class="row style-1">

    <!--Superbox-->
    <div id="super-box" class="span8">
		<div id="sb-mobile-nav">
			<img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/feature-arrow-left.png" id="sb-leftarrow"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/feature-arrow-right.png" id="sb-rightarrow">
</div>
        <div class="tabbable tabs-left">
          <ul id="super-menu" class="nav nav-tabs">
<li class="active"><a href="#tab-1" data-toggle="tab">Report it</a></li>
<li><a href="#tab-2" data-toggle="tab">Your library</a></li>
<li><a href="#tab-3" data-toggle="tab">Find a job</a></li>
<li><a href="#tab-4" data-toggle="tab">Plan a journey</a></li>
<li><a href="#tab-5" data-toggle="tab">Your school</a></li>
<li><a href="#tab-6" data-toggle="tab">Latest tweets</a></li>          </ul>
<div class="tab-content">
				<div class="tab-pane active" id="tab-1">
<div class="sb-row">
	<div class="sb-column one">
		<h3>Report it</h3>
	</div>
</div>

<div class="sb-row">
	<div class="sb-column three">
		<div class="sb-icon-button">
			<a href="http://www.warwickshire.gov.uk/reporthighwayproblem"><img title="Report highway problems" alt="Report highway problems" src="http://www.warwickshire.gov.uk//Web/corporate/wccweb.nsf/Links/B6876CFE9798941F80257855005D6E89/%24file/highwayproblems.png"><p>Highway problems</p></a>
		</div>
	</div>
	<div class="sb-column three">
		<div class="sb-icon-button">
			<a href="http://www.warwickshire.gov.uk/potholes"><img title="Report potholes" alt="Report potholes" src="http://www.warwickshire.gov.uk//Web/corporate/wccweb.nsf/Links/B6876CFE9798941F80257855005D6E89/%24file/potholes.png"><p>Potholes</p></a>
		</div>
	</div>
	<div class="sb-column three">
		<div class="sb-icon-button">
			<a href="http://www.warwickshire.gov.uk/flytippingandlitter"><img title="Report fly tipping" alt="Report fly tipping" src="http://www.warwickshire.gov.uk//Web/corporate/wccweb.nsf/Links/B6876CFE9798941F80257855005D6E89/%24file/flytipping.png"><p>Fly tipping</p></a>
		</div>
	</div>
</div>

<div class="sb-row">
	<!-- 
	<div class="sb-column three">
		<div class="sb-icon-button">
			<a href="http://www.warwickshire.gov.uk/carclear"><img title="Report Abandoned vehicles" alt="Report Abandoned vehicles" src="/Web/corporate/wccweb.nsf/Links/B6876CFE9798941F80257855005D6E89/$file/abandonedvehicles.png"><p>Abandoned vehicles</p></a>
		</div>
	</div>
	<div class="sb-column three">
		<div class="sb-icon-button">
			<a href="http://www.warwickshire.gov.uk/streetlightingfault"><img title="Report Streetlight faults" alt="Report Streetlight faults" src="/Web/corporate/wccweb.nsf/Links/B6876CFE9798941F80257855005D6E89/$file/streetlight.png"><p>Streetlight faults</p></a>
		</div>
	</div>
	 -->
	<div class="sb-column three">
		<div class="sb-icon-button">
			<a href="/safeguardingadults"><img title="Vulnerable adults" alt="Vulnerable adults" src="http://www.warwickshire.gov.uk//Web/corporate/wccweb.nsf/Links/B6876CFE9798941F80257855005D6E89/%24file/adults.png"><p>Vulnerable adults</p></a>
		</div>
	</div>
	<div class="sb-column three">
		<div class="sb-icon-button">
			<a href="http://www.warwickshire.gov.uk/childprotection"><img title="Child protection" alt="Child protection" src="http://www.warwickshire.gov.uk//Web/corporate/wccweb.nsf/Links/B6876CFE9798941F80257855005D6E89/%24file/childprotection.png"><p>Child protection</p></a>
		</div>
	</div>
	
	<div class="sb-column three">
		<div class="sb-icon-button">
			<a href="http://www.warwickshire.gov.uk/reportit"><img title="more reporting" alt="More reporting" src="http://www.warwickshire.gov.uk//Web/corporate/wccweb.nsf/Links/B6876CFE9798941F80257855005D6E89/%24file/morereporting.png"><p>More reporting...</p></a>
		</div>
	</div>
</div>
</div>
<div class="tab-pane" id="tab-2"><div class="sb-row">
<div class="sb-column one">
<h3>Your library</h3>
<h4>Search the library catalogue for books, CDs and DVDs.</h4>

<div id="libraries-nav-search">

<form method="get" action="http://librarycatalogue.warwickshire.gov.uk/ABwarwick/default.ashx" id="" name=""> 
<input id="libraries-nav-search-box" type="text" name="q" placeholder="Search the library catalogue"><button id="libraries-nav-search-button" type="submit" class="btn btn-3">Submit</button>
</form>

</div>

<ul>
<li><a href="/renew">Renew your library items</a></li>
<li><a href="/findalibrary">Find a library</a></li>
<li><a href="/jointhelibrary">Join the library</a></li>
</ul>
</div>

</div></div>
<div class="tab-pane" id="tab-3">				<div class="sb-row">
<div class="sb-column two">
<h3>Latest jobs</h3>
<ul>
<li>The council jobs feed will be back shortly</li>
<li>Apologies for the inconvenience</li>
</ul>
<h5><a href="http://www.wmjobs.co.uk/careers/list.aspx?ID=QUVFK026203F3VBQB7V8NV45Y&amp;mask=wmj&amp;LG=UK&amp;statlog=1&amp;Resultsperpage=10&amp;LOV1=All&amp;LOV45=All&amp;LOV10=All&amp;SUBDEPT1=1300">More council jobs...</a></h5>
</div>
						<div class="sb-column two">
							<h3>Job links</h3>
								<ul>
<li><a href="http://www.wmjobs.co.uk/careers/list.aspx?ID=QUVFK026203F3VBQB7V8NV45Y&amp;mask=wmj&amp;LG=UK&amp;statlog=1&amp;Resultsperpage=10&amp;LOV1=All&amp;LOV45=All&amp;LOV10=All&amp;SUBDEPT1=1300">All council jobs</a></li>
									<li><a href="http://www.wmjobs.co.uk/careers/list.aspx?ID=QUVFK026203F3VBQB7V8NV45Y&amp;mask=wmj&amp;LG=UK&amp;statlog=1&amp;Resultsperpage=10&amp;LOV1=15644&amp;LOV45=All&amp;LOV10=All&amp;SUBDEPT1=396">All teaching jobs</a></li>
									<li><a href="http://www.wmjobs.co.uk/careers/searchagent.aspx">Job alerts</a></li>
									<li><a href="http://www.wmjobs.co.uk/our-employers/warwickshire-county-council/">How to apply</a></li>
									<li><a href="http://www.warwickshire.gov.uk/applicantinfo">Guidance for applicants</a></li>
									<li><a href="http://www.wmjobs.co.uk/our-employers/warwickshire-county-council/">Working for the council</a></li>
									<li><a href="/careers">Careers</a></li>
								</ul>
</div>
						
				</div>
</div>
<div class="tab-pane" id="tab-4">				<div class="sb-row">
					<div class="sb-column one">
						<h3>Plan your journey</h3>
							<p>Enter your post-code, location or town.</p>


<form method="post" action="http://www.travelinesw.com/swe/XSLT_TRIP_REQUEST2" id="efaForm" name="">

<input type="hidden" name="sessionID" id="mdv_sessionID" value="0"><input type="hidden" name="requestID" id="mdv_requestID" value="0"><input type="hidden" name="language" id="mdv_language" value="en"><input type="hidden" name="command" id="mdv_command" value=""><input type="hidden" name="execInst" id="mdv_execInst" value="normal"><input type="hidden" name="locationServerActive" value="1"><input type="hidden" name="locationInfoActive" value="1"><input type="hidden" name="coordListOutputFormat" value="string"><input type="hidden" name="coordOutputFormatTail" value="0"><input type="hidden" name="convertStopsPTKernel2LocationServer" value="1"><input type="hidden" name="convertAddressesITKernel2LocationServer" value="1"><input type="hidden" name="convertCoord2LocationServer" value="1"><input type="hidden" name="convertCrossingsITKernel2LocationServer" value="1"><input type="hidden" name="convertPOIsITKernel2LocationServer" value="1"><input type="hidden" name="useProxFootSearch" value="1"><input type="hidden" name="anySigWhenPerfectNoOtherMatches" value="1"><input type="hidden" name="stateless" value="1"><input type="hidden" name="useAllStops" value="1"><input type="hidden" name="itdLPxx_view" value="advanced"><input type="hidden" name="type_origin" value="any"><input type="hidden" name="type_destination" value="any"><input type="hidden" name="nameDefaultText_origin" value="City, Town, Village, Address, Post Code, Station or Airport"><input type="hidden" name="nameDefaultText_destination" value="City, Town, Village, Address, Post Code, Station or Airport"><input type="hidden" name="useHouseNumberList_origin" value="1"><input type="hidden" name="useHouseNumberList_destination" value="1"><p><span class="form-label">From:</span>
    <input class="form-input" type="text" name="name_origin" placeholder="From:"></p>
  <p><span class="form-label">To:</span>
    <input class="form-input" type="text" name="name_destination" placeholder="To:"></p>
    <button type="submit" value="Search" class="btn btn-3">Submit</button>
</form>

					</div>
				</div>
				<div class="sb-row">
					<div class="sb-column two">
						<ul>
<li><a href="/corporate/BusTime.nsf/f6ba0a2f0063538180256d40003b1059/%24searchForm?SearchView">Find a bus timetable</a></li>
							<li><a href="/busroutemaps">Bus route maps</a></li>
						</ul>
</div>
					<div class="sb-column two">
						<ul>
<li><a href="/busservicechanges">Bus route changes</a></li>
							<li><a href="/buses">More bus information</a></li>
						</ul>
</div>
				</div>
</div>
<div class="tab-pane" id="tab-5">				<div class="sb-row">
					<div class="sb-column one">
						<h3>Your school</h3>
					</div>
				</div>

				<div class="sb-row">
					<div class="sb-column two">
						<p>Term ends</p>
						<div class="date-box">
							<p>Friday 19th July*</p>
						</div>
					</div>
					<div class="sb-column two">
						<p>Next  term starts:</p>
						<div class="date-box">						
							<p>Monday 2nd September*</p>
						</div>
					</div>
				</div>

				<div class="sb-row">
					<div class="sb-column three">
						<ul>
<li><a href="/schoolholidaydates">Term dates</a></li>
							<li><a href="/admissions">Admissions</a></li>
						</ul>
</div>
					<div class="sb-column three">
						<ul>
<li><a href="/schoolclosures">Closures</a></li>
							<li><a href="/schools">More schools</a></li>
						</ul>
</div>
					<div class="sb-column three">
						<ul>
<li><a href="/schoolfinder">Find a school</a></li>
						</ul>
</div>
				</div>
				
				<div class="sb-row">
					<div class="sb-column one">
						<p class="small-text">* Some schools may set teacher training days or have their own term dates (such as academies). Please check <a href="/schoolholidaydates">School term dates and holidays</a> or directly with your school.</p>
					</div>
				</div>
</div>
<div class="tab-pane" id="tab-6"><div class="sb-row">
					<div id="sb-twitter-accounts" class="sb-column two">
						<h3>Social networking</h3>
						<ul>
<li><a href="http://twitter.com/wcc_news">Warwickshire news</a></li>
							<li><a href="http://twitter.com/WarksFireRescue">Fire and rescue</a></li>
							<li><a href="http://twitter.com/OisinTheDeer">Museums</a></li>
							<li><a href="http://twitter.com/warksdirect">Warwickshire Direct</a></li>
							<li><a href="http://twitter.com/wcc_schools">Schools</a></li>
							<li><a href="http://twitter.com/warkslibraries">Warwickshire Libraries</a></li>
							<li><a href="http://twitter.com/countryparks">Country parks</a></li>
							<li><a href="/socialnetworking">All social media accounts</a></li>
						</ul>
</div>
					<div id="sb-twitter-list" class="sb-column two">
<a class="twitter-timeline" href="https://twitter.com/WCC_website/warwickshire-cc">Tweets from @WCC_website/warwickshire-cc</a>
<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
				</div></div>
          </div>
		  
        </div>
		
    </div>
<!--end span8 SuperBox-->

    <!--Newsbox-->
    <div id="nb" class="span4">
		<h2>Latest News</h2>
		<div id="featured-slider" class="carousel slide" height="300px">
			<div id="latest-news" class="carousel-inner"></div>
			<a class="left carousel-control" href="#featured-slider" data-slide="prev">‹</a>
			<a class="right carousel-control" href="#featured-slider" data-slide="next">›</a>
		</div>
		<noscript>
		<p>Can't see our stories? It may be because JavaScript is turned off in your browser.</p>
		<p>To view our stories without JavaScript enabled, you can visit our <a href="//news.warwickshire.gov.uk">Warwickshire News</a> site.</p>
		</noscript>
		<script>jQuery(document).ready(function() {GetContent('http://feeds.feedburner.com/wntestex');jQuery(".no-js-error").addClass("js-enabled");});</script>
</div>
<!--end span4 NewsBox-->

</div>
<!--end of feature area-->		
			
<div class="row">
	<style>
/*7662 - 7682 replace block - fixes border issue in IE by removing it*/
.style-1 .sb-icon-button, .style-2 .sb-icon-button, .style-3 .sb-icon-button {
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	text-align: center;
	padding: 2.5px;
	border:none;
}

.style-1 .sb-icon-button:hover, .style-2 .sb-icon-button:hover, .style-3 .sb-icon-button:hover{
	background-color:rgb(200,225,200);
	-moz-box-shadow:0px 0px 3px rgba(0,0,0,0.9);
	-webkit-box-shadow:0px 0px 3px rgba(0,0,0,0.9);
	box-shadow:0px 0px 3px rgba(0,0,0,0.9);
	border:none;
}
/*End of block*/

/*Add new somewhere - gives the superbox and newsbox a light border*/
#super-box .tabbable, #featured-slider {
	border:1px solid rgb(230,230,230);
}

.lt-ie9 #super-box .tabbable, .lt-ie9 #featured-slider {
	border:1px solid rgb(200,200,200);
}

/*7754 replace block - removes transparent background*/
#nb h2 {
  position:absolute;
  display:block;
  float:left;
  z-index:1;
  top:10px;
  margin:0;
  padding: 10px;
  padding-left: 20px;
  background: #fff;
  background-color: #fff;
  box-shadow:  1px 1px 4px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  line-height: 1em;
  font-size: 20px;
}

/*7790*/
#nb h2:hover {
  padding-left: 25px;
  background-color: #fff;
  transition: 0.5s background 0s linear, 0.2s padding 0s linear;
  -webkit-transition: 0.2s background 0s linear, 0.2s padding 0s linear;
  -moz-transition: 0.2s background 0s linear, 0.2s padding 0s linear;
}

/*change color line to fix hover on IE*/
.lt-ie9 .style-1 ul#super-menu li a:hover, .lt-ie9 .style-2 ul#super-menu li a:hover, .lt-ie9 .style-3 ul#super-menu li a:hover{
color:#fff;
}

/*Tabs on ei10*/

.style-1 #super-box .tab-content .tab-pane, .style-2 #super-box .tab-content .tab-pane, .style-3 #super-box .tab-content .tab-pane,{
	height:300px;
}

.style-1 #super-box .tab-content, .style-2 #super-box .tab-content, .style-3 #super-box .tab-content {
	height:300px;
}


</style>
<div class="span6">
	<h3 id="home-business" class="home-header"><a href="/business">Business</a></h3>
		<ul class="homepage-links">
<li>
<a href="/jobs">Jobs</a>,</li> 
			<li>
<a href="/procurement">tender opportunities</a>,</li> 
			<li>
<a href="/licenses">licences</a>,</li> 
			<li>
<a href="/businessadvice">business services</a>,</li> 
			<li>
<a href="/businesscentres">business centres</a>,</li> 
			<li>
<a href="/tradingstandards">trading standards</a>,</li> 
			<li><a class="strong" href="/business">more business...</a></li>
		</ul>
</div>

<div class="span6">
	<h3 id="home-environment" class="home-header"><a href="/environment">Environment</a></h3>
		<ul class="homepage-links">
<li>
<a href="/recycling">Recycling and waste</a>,</li> 
			<li>
<a href="/hwrc">recycling centres</a>,</li> 
			<li>
<a href="/parks">country parks</a>,</li> 
			<li>
<a href="/planning">planning</a>,</li> 
			<li>
<a href="/enjoycountryside">enjoy countryside</a>,</li> 
			<li><a class="strong" href="/environment">more environment...</a></li>
		</ul>
</div>

<div class="span6">
	<h3 id="home-health" class="home-header"><a href="/healthandwellbeing">Health</a></h3>
		<ul class="homepage-links">
<li>
<a href="/healthandwellbeing">Health and wellbeing</a>,</li> 
			<li>
<a href="/healthemergency">health emergencies</a>,</li> 
			<li>
<a href="/flu">flu</a>,</li> 
			<li>
<a href="/healthyeating">healthy eating</a>,</li> 
			<li>
<a href="/mentalhealth">mental health</a>,</li> 
			<li>
<a href="/yourrecovery">your recovery</a>,</li> 
			<li><a class="strong" href="/healthandwellbeing">more health...</a></li>
		</ul>
</div>

<div class="span6">
	<h3 id="home-libraries" class="home-header"><a href="/librariesandleisure">Libraries and leisure</a></h3>
		<ul class="homepage-links">
<li>
<a href="/libraries">Libraries</a>,</li>   
			<li>
<a href="/renew">renew a library book</a>,</li>   
			<li>
<a href="/museums">museums</a>,</li> 
			<li>
<a href="/tourists">tourist information</a>,</li> 
			<li>
<a href="/parks">country parks</a>,</li> 
			<li>
<a href="/arts">arts</a>,</li> 
			<li><a class="strong" href="/librariesandleisure">more leisure...</a></li>
		</ul>
</div>

<div class="span6">
	<h3 id="home-registrations" class="home-header"><a href="/registrations">Registrations</a></h3>
		<ul class="homepage-links">
<li>
<a href="/births">Births</a>,</li> 
			<li>
<a href="/deaths">deaths</a>,</li> 
			<li>
<a href="/weddings">weddings and marriages</a>,</li> 
			<li>
<a href="/copycertificates">copy certificates</a>,</li> 
			<li>
<a href="/registrationoffices">registration offices</a>,</li> 
			<li><a class="strong" href="/registrations">more registrations...</a></li>
		</ul>
</div>

<div class="span6">
	<h3 id="home-roads" class="home-header"><a href="/roadsandtravel">Roads and travel</a></h3>
		<ul class="homepage-links">
<li>
<a href="/buses">Buses</a>,</li> 
			<li>
<a href="/publictransport">public transport</a>,</li> 
			<li>
<a href="/roads">roads</a>,</li> 
			<li>
<a href="/roadworks">roadworks</a>,</li> 
			<li>
<a href="/schooltravel">school travel</a>,</li> 
			<li>
<a href="/licensesandpermits">permits</a>,</li> 
			<li>
<a href="/gritting">gritting</a>,</li> 
			<li>
<a href="/partnightlighting">Part night lighting</a>,</li> 




			<li><a class="strong" href="/roadsandtravel">more roads and travel...</a></li>
		</ul>
</div>

<div class="span6">
	<h3 id="home-safety" class="home-header"><a href="/safetyandcrime">Safety and crime</a></h3>
		<ul class="homepage-links">
<li>
<a href="/crime">Crime and security</a>,</li> 
			<li>
<a href="/homesafety">home safety</a>,</li> 
			<li>
<a href="firesafety">fire safety</a>,</li> 
			<li>
<a href="/fireandrescue">fire and rescue</a>,</li> 
			<li>
<a href="/roadsafety">road safety</a>,</li> 
			<li>
<a href="/tradingstandards">trading standards</a>,</li> 
			<li><a class="strong" href="/safetyandcrime">more safety and crime...</a></li>
		</ul>
</div>

<div class="span6">
<h3 id="home-schools" class="home-header"><a href="/schoolsandlearning">Schools and learning</a></h3>
	<ul class="homepage-links">
<li>
<a href="/schools">Schools</a>,</li> 
		<li>
<a href="/schoolholidaydates">holiday dates</a>,</li> 
		<li>
<a href="/schoolclosures">school closures</a>,</li> 
		<li>
<a href="/admissions">admissions</a>,</li> 
		<li>
<a href="/music">music</a>,</li> 
		<li>
<a href="/childrenscentres">children's centres</a>,</li> 
		<li><a class="strong" href="/schoolsandlearning">more schools and learning...</a></li>
	</ul>
</div>

<div class="span6">
	<h3 id="home-social" class="home-header"><a href="/socialcareandhealth">Social care and support</a></h3>
		<ul class="homepage-links">
<li>
<a href="/supportforadults">Adult support</a>,</li> 
			<li>
<a href="/supportforchildrenandfamilies">children &amp; families</a>,</li> 
			<li>
<a href="/childcare">childcare</a>,</li> 
			<li>
<a href="/fostering">fostering</a>,</li> 
			<li>
<a href="/emergencydutyteam">out of hours</a>,</li> 
			<li>
<a href="/carers">carers</a>,</li> 
			<li>
<a href="/directory">find local support services</a>,</li> 
			<li><a class="strong" href="/socialcareandhealth">more social care...</a></li>
		</ul>
</div>

<div class="span6">
	<h3 id="home-council" class="home-header"><a href="/corporate">The Council</a></h3>
		<ul class="homepage-links">
<li>
<a href="/jobs">Jobs</a>,</li> 
			<li>
<a href="/councillors">councillors</a>,</li> 
			<li>
<a href="/elections">elections</a>,</li> 
			<li>
<a href="/consultations">consultations</a>,</li> 
			<li>
<a href="/petitions">petitions</a>,</li> 
			<li>
<a href="/communityforums">community forums</a>,</li> 
			<li>
<a href="/volunteering">volunteering</a>,</li> 
			<li>
<a href="/corporate">find a politician</a>,</li> 
			<li><a class="strong" href="/corporate">more council...</a></li>
		</ul>
</div>

<div class="span6">
	<h3 id="home-audience" class="home-header"><a href="/volunteering">Volunteering</a></h3>
		<ul class="homepage-links">
<li>
<a href="/libraryvolunteering">Library volunteering</a>,</li> 
			<li>
<a href="http://heritage.warwickshire.gov.uk/volunteer/">heritage and culture volunteers</a>,</li> 
			<li>
<a href="http://countryparks.warwickshire.gov.uk/volunteering/">country parks volunteering</a>,</li> 
			<li>
<a href="/becomeagovernor/">becoming a school governor</a>,</li> 
			<li><a class="strong" href="/volunteering">other volunteering opportunities</a></li>
		</ul>
</div>

<div class="span6">
	<h3 id="home-events" class="home-header"><a href="/events">Events</a></h3>
		<ul class="homepage-links">
<li>
<a href="/corporate/EventDbp.nsf/Next+7+days?OpenView&amp;collapseview&amp;Count=30">Upcoming events</a>,</li> 
			<li>
<a href="/corporate/EventDbP.nsf/Event?OpenForm">add an event</a>,</li> 
			<li>
<a href="/corporate/EventDbp.nsf/e3169d505c2a8d1080256b0400304bc0/%24searchForm?SearchView">search events</a>,</li> 
			<li>
<a href="/corporate/EventDbp.nsf/By+Category?OpenView&amp;collapseview&amp;Count=30">events by category</a>,</li> 
			<li>
<a href="/corporate/EventDbp.nsf/By+Date?openview&amp;collapseview">events by start date</a>,</li> 
			<li><a class="strong" href="/events">more events...</a></li>
		</ul>
</div>
</div>
			<hr>
<footer><div class="row">
					<div class="span3">
						<aside id="text-7" class="widget widget_text"><div class="textwidget"><div style="text-align:center;padding-top:5px;">
<img style="width:auto !important;" src="https://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/WDlogo/%24file/wdwhitelogo.png" alt="Warwickshire Direct"><img style="width:auto !important;" src="https://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/WSWCClogo/%24file/WCC+logo.png" alt="Warwickshire County Council"><img style="width:auto !important;" src="https://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/W4Wlogofooter/%24file/w4w-footer.png" alt="Working For Warwickshire">
</div></div>
		</aside>
</div>
					<div class="span3">
						<aside id="text-3" class="widget widget_text"><h3 class="widget-title">Contact details</h3>			<div class="textwidget"><ul>
<li>
<h4>Address</h4>Warwickshire County Council<br>Shire Hall<br>Warwick<br>CV34 4RL<br>
</li>
<li><a href="/locationmap">Warwick town centre map</a></li>
<li>
<h4>Telephone</h4>01926 410410<br>Mon-Fri: 8am-8pm<br>Sat: 9am-4pm<br>
</li>
</ul></div>
		</aside>
</div>
					<div class="span2">
						<aside id="text-4" class="widget widget_text"><h3 class="widget-title">Further help</h3>			<div class="textwidget"><ul>
<li><a href="/accessibility">Accessibility</a></li>
<li><a href="/cookies">Cookies</a></li>
<li><a href="/complaints">Complaints</a></li>
<li><a href="/consultations">Consultations</a></li>
<li><a href="/customerservice">Customer service</a></li>
<li><a href="/apps">Mobile apps</a></li>
<li><a href="/disclaimer">Privacy policy, disclaimer and copyright</a></li>

</ul></div>
		</aside>
</div>
					<div class="span2">
						<aside id="text-5" class="widget widget_text"><h3 class="widget-title">Information for</h3>			<div class="textwidget"><ul>
<li><a href="/business">Businesses</a></li>
<li><a href="/carers">Carers</a></li>
<li><a href="/olderpeople">Older people</a></li>
<li><a href="/parents">Parents and guardians</a></li>
<li><a href="/staff">Staff and partners</a></li>
<li><a href="/childrenandyoungpeople">Young People</a></li>
</ul></div>
		</aside><aside id="text-9" class="widget widget_text"><div class="textwidget"><script src="http://static.warwickshire.gov.uk/libs/js/wcc/e-services/engage-test.js"></script></div>
		</aside>
</div>
					<div class="span2">
						<aside id="text-6" class="widget widget_text"><h3 class="widget-title">Find us on</h3>			<div class="textwidget"><ul>
<li><a href="http://www.flickr.com/photos/56273443@N04">Flickr</a></li>
<li><a href="http://twitter.com/WarksDirect">Twitter</a></li>
<li><a href="http://www.youtube.com/warwickshirecc">YouTube</a></li>
<li><a href="http://www.warwickshire.gov.uk/socialnetworking">Other social networks</a></li>
</ul></div>
		</aside>
</div>
					
				</div>
				<div class="row">
					<div class="span12" style="text-align:center;">
						<p>© Warwickshire County Council</p>
					</div>
				</div>
				</footer>
</div> <!-- /container -->
		<div id="footer-logos-bottom">
			<div class="container">
				<ul class="inline">
<li><a href="//www.gov.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/GovUKLogo.png" alt="Gov.uk"></a></li>
					<li><a href="//www.stratford.gov.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/sdclogo.png" alt="Stratford District Council"></a></li>
					<li><a href="//www.rugby.gov.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/rbclogo.png" alt="Rugby Borough Council"></a></li>
					<li><a href="//www.nuneatonandbedworth.gov.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/nbbclogo.png" alt="Nuneaton and Bedworth Borough Council"></a></li>
					<li><a href="//www.northwarks.gov.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/nwbc-small-footer.png" alt="North Warwickshire Borough Council"></a></li>
					<li><a href="//www.warwickdc.gov.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/wdc-logo-footer.png" alt="Warwick District Council"></a></li>
					<li><a href="//www.warwickshire.police.uk"><img src="http://www.warwickshire.gov.uk/wp-content/themes/gamma/images/warkspollogo.png" alt="Warwickshire Police"></a></li>
				</ul>
</div>
		</div>
		
		<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/5795.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);

</script><!-- Fin. -->
</body></html>
