<!DOCTYPE html>
<html>
<head>
  <title>RemotePartial</title>
  <%= stylesheet_link_tag    "remote_partial/application", :media => "all" %>
  <%= javascript_include_tag "remote_partial/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
